{% assign current_year = page.year | downcase %}
{% assign year_data = site.data[current_year] %}

<section id="content" class="px-6 py-8">
    <div class="my-cont">
      <h1 class="font-bold text-xl">Content</h1>
      <p class="mt-4">
        This course provides a comprehensive introduction to leading data mining techniques for deriving insights 
        from data. Core topics covered draw from 
        the textbook <a class="text-blue-500" href="https://shop.elsevier.com/books/data-mining/han/978-0-12-811760-6">
          "Data Mining: Concepts and Techniques" (Han, Kamber, Pei, 2022)
         </a> and include: 
      </p>
      <ol class="list-decimal pl-8 py-4">
        {% for topic in year_data.content.topics %}
          <li>{{ topic }}</li>
        {% endfor %}
      </ol>
      <p>
        Equal emphasis is placed on underlying theory and practical application using Python across domains like business, research, and public policy. Through real-world projects and assignments, students gain abundant hands-on experience leveraging these essential data mining approaches to uncover intelligence and inform data-driven decision making.
      </p>
    </div>
  </section>
  