{% assign current_year = page.year | downcase %}
{% assign year_data = site.data[current_year] %}


<section id="logistics" class="px-6 py-8">
    <div class="my-cont">
      <h1 class="font-bold text-xl">Logistics</h1>
      
      <h2 class="mt-4 font-bold text-lg">Format</h2>
      <p>
        This course is primarily offered in a classroom setting, held twice weekly on Sundays and Tuesdays 
        from 10:30am to 12:00pm. On special occasions, online classes may be conducted using 
        <a class="text-blue-500" href="https://elearn.ut.ac.ir/">Elearn Platform</a> 
        - students will be notified in advance.
      </p>
  
      <h2 class="mt-4 font-bold text-lg">Workload Expectation</h2>
      <p>
        Students can expect 6 computer/theory-based assignments over the duration of the course, 
        with workload varying based on subject complexity. Additionally, students will deliver one 
        paper presentation. Supplementary self-study outside of lecture times will be required to 
        excel in this rigorous graduate course.
      </p>
  
      <h2 class="mt-4 font-bold text-lg">Textbook & Resources</h2>
      <ul class="list-disc pl-8 pt-2">
        <li>
          <a class="text-blue-500" href="https://shop.elsevier.com/books/data-mining/han/978-0-12-811760-6">
            "Data Mining: Concepts and Techniques" (Han, Kamber, Pei, 2022)
          </a> 
        </li>
        <li>
          <a class="text-blue-500" href="https://docs.google.com/document/d/18AHuZ3j_5VYbMRrQNeexYXVrGGluLh-_/edit?usp=sharing&ouid=101896831505631972769&rtpof=true&sd=true">
            Homework Template
          </a> 
        </li>
      </ul>
  
      <h2 class="mt-4 font-bold text-lg">Contact Information</h2>
      <ul class="pl-3 pt-2">
        {% assign instructor = year_data.staff.instructor %}
        {% assign manager = year_data.staff.course_manager %}
        <li>
          <a href="mailto:{{ instructor.email }}" class="font-bold text-blue-900">{{ instructor.email }}</a> 
          - {{ instructor.name }}, Instructor
        </li>
        <li>
          <a href="mailto:{{ manager.email }}" class="font-bold text-blue-900">{{ manager.email }}</a> 
          - {{ manager.name }}, Head Teaching Assistant
        </li>
      </ul>
    </div>
  </section>
  