{% assign current_year = page.year | downcase %}
{% assign year_data = site.data[current_year] %}


<section id="staff" class="border-primary-100 py-10 border rounded-xl bg-primary-50 my-cont">
    <div class="container px-10 flex flex-col lg:items-start lg:justify-between lg:flex-row gap-10 items-center">
      <div class="left flex-col lg:px-4 xl:pl-10 justify-center items-center gap-20">
        <!-- Instructor -->
        <article class="flex flex-col items-center">
          <h2 class="font-bold text-lg sm:text-xl">Instructor</h2>
          {% assign instructor = year_data.staff.instructor %}
          <img src="{{ site.baseurl }}/assets/images/{{ page.year }}/staff/{{ instructor.image }}" 
               alt="{{ instructor.name }}" 
               class="border-4 border-primary-400 w-36 sm:w-44 mt-5 lg:mt-9 object-cover rounded-full">
          <h3 class="mt-1 sm:text-lg text-nowrap font-normal">{{ instructor.name }}</h3>
          <div class="sm:[&>a>img]:h-8 [&>a>img]:h-6 items-center flex gap-2 mt-1">
            {% if instructor.scholar %}
              <a href="{{ instructor.scholar }}"><img src="{{ site.baseurl }}/assets/images/school.svg" alt="" class="sm:!h-7 !h-5"></a>
            {% endif %}
            {% if instructor.email %}
              <a href="mailto:{{ instructor.email }}"><img src="{{ site.baseurl }}/assets/images/mail-open-outline.svg" alt=""></a>
            {% endif %}
            {% if instructor.website %}
              <a href="{{ instructor.website }}"><img src="{{ site.baseurl }}/assets/images/link.svg" alt=""></a>
            {% endif %}
          </div>
        </article>
  
        <!-- Course Manager -->
        <article class="flex flex-col items-center mt-10">
          <h2 class="font-bold text-lg sm:text-xl text-nowrap">Course Manager</h2>
          {% assign manager = year_data.staff.course_manager %}
          <img src="{{ site.baseurl }}/assets/images/{{ page.year }}/staff/{{ manager.image }}" 
               alt="{{ manager.name }}" 
               class="border-4 border-primary-400 w-36 sm:w-44 mt-5 object-cover rounded-full">
          <h3 class="mt-1 sm:text-lg text-nowrap font-normal">{{ manager.name }}</h3>
          <div class="sm:[&>a>img]:h-8 [&>a>img]:h-6 items-center flex gap-2 mt-1">
            {% if manager.linkedin %}
              <a href="{{ manager.linkedin }}"><img src="{{ site.baseurl }}/assets/images/logo-linkedin.svg" alt="" class="sm:!h-7 !h-5"></a>
            {% endif %}
            {% if manager.email %}
              <a href="mailto:{{ manager.email }}"><img src="{{ site.baseurl }}/assets/images/mail-open-outline.svg" alt=""></a>
            {% endif %}
          </div>
        </article>
      </div>
  
      <!-- Teaching Assistants -->
      <div class="right lg:flex-grow flex flex-col items-center gap-3">
        <h2 class="font-bold text-lg sm:text-xl">Teaching Assistants</h2>
        <div class="grid [&>article>img]:border-2 [&>article>h3]:font-normal [&>article>img]:border-primary-500 grid-cols-2 text-center -mx-10 sm:mx-0 justify-center lg:items-start lg:justify-center lg:grid md:grid-cols-3 gap-1">
          {% for ta in year_data.staff.teaching_assistants %}
            <article class="flex flex-col items-center">
              <img src="{{ site.baseurl }}/assets/images/{{ page.year }}/staff/{{ ta.image }}" 
                   alt="{{ ta.name }}" 
                   class="sm:w-44 w-36 mt-5 object-cover rounded-full">
              <p class="text-xs sm:text-sm font-light mt-2">{{ ta.role }}</p>
              <p class="text-xs sm:text-sm text-gray-600">{{ ta.assignment }}</p>
              <h3 class="mt-1 sm:text-lg">{{ ta.name }}</h3>
              <div class="sm:[&>a>img]:h-8 [&>a>img]:h-6 items-center flex gap-2 mt-1">
                {% if ta.linkedin %}
                  <a href="{{ ta.linkedin }}"><img src="{{ site.baseurl }}/assets/images/logo-linkedin.svg" alt="" class="sm:!h-7 !h-5"></a>
                {% endif %}
                {% if ta.email %}
                  <a href="mailto:{{ ta.email }}"><img src="{{ site.baseurl }}/assets/images/mail-open-outline.svg" alt=""></a>
                {% endif %}
              </div>
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  