<meta charset="UTF-8" />
<link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/assets/images/logo.png" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ site.title }} | ECE at University of Tehran</title>
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
